@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
button,
fieldset,
input {
  all: unset;
}

html, body, #react-root {
  height: 100%;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: #444444;
}

.tabs-container {
  scrollbar-width: revert !important;
}
